{%- assign collection_image_size = 'x630' -%}
{%- assign grid_item_width = 'large--one-half' -%}

{% case section.settings.grid %}
  {% when '1' %}
    {%- assign grid_item_width = 'large--one-half collection-grid--single' -%}
    {%- assign collection_image_size = 'x630' -%}
  {% when '2' %}
    {%- assign grid_item_width = 'large--one-half' -%}
    {%- assign collection_image_size = 'x630' -%}
  {% when '3' %}
    {%- assign grid_item_width = 'large--one-third' -%}
    {%- assign collection_image_size = 'x450' -%}
{% endcase %}

<div class="homepage-collection-grid {{ section.settings.homepage_collection_grid_color }}" data-section-id="{{ section.id }}" data-section-type="index-collection">
  <div class="wrapper">
    {% if section.settings.title != blank %}
      <h4 class="home__subtitle">{{ section.settings.title | escape }}</h4>
    {% endif %}

    <div class="grid grid--uniform">
      {% for block in section.blocks limit: section.blocks.size %}

        {%- assign collection = collections[block.settings.collection] -%}
        {%- assign collection_image_url = '' -%}
        {% if collection.image %}
          {% capture collection_image_url %}{{ collection | img_url: collection_image_size, crop: 'top' }}{% endcapture %}
        {% elsif collection.products.first %}
          {% capture collection_image_url %}{{ collection.products.first | img_url: collection_image_size, crop: 'top' }}{% endcapture %}
        {% endif %}

        <div class="grid__item {{ grid_item_width }}" {{ block.shopify_attributes }}>
          <div class="collection-grid-item homepage-image {{ section.settings.color }}">
            <a href="{% if collection.empty? %}#{% else %}{{ collection.url }}{% endif %}" class="collection-grid-item__link">
              <div class="collection-grid-item__overlay" style="background-image: url({{ collection_image_url }})">
                {% if collection.empty? %}
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>
              <div class="collection-grid-item__content">
                {% unless block.settings.title == '' %}<h2 class="title--flex home__title">{{ block.settings.title | escape }}</h2>{% endunless %}
                {% unless block.settings.link_text == '' %}<div class="{{ section.settings.button_style }}"> {{ block.settings.link_text | escape }}</div>{% endunless %}
              </div>
              <div class="image-overlay {{ section.settings.overlay }}"></div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% if section.blocks.size == 0 %}
    <div class="text-center">{{ 'home_page.onboarding.no_content' | t }}</div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Collection list",
    "class": "index-section",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Collections per row",
        "default": "3",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          }
        ]
      },
      {
        "type": "select",
        "id": "homepage_collection_grid_color",
        "label": "Background color",
        "default": "homepage--white",
        "options": [
          { "value": "homepage--white", "label": "White"},
          { "value": "homepage--light", "label": "Light"},
          { "value": "homepage--splash", "label": "Accent"},
          { "value": "homepage--dark", "label": "Dark"}
        ]
      },
      {
        "type": "select",
        "id": "color",
        "label": "Text color",
        "default": "homepage--white",
        "options": [
          { "value": "homepage--white", "label": "White"},
          { "value": "homepage--light", "label": "Light"},
          { "value": "homepage--splash", "label": "Accent"},
          { "value": "homepage--dark", "label": "Dark"}
        ]
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "btn btn--clear btn--square uppercase",
        "options": [
          { "value": "btn btn--splash uppercase", "label": "Round"},
          { "value": "btn btn--splash btn--square uppercase", "label": "Square"},
          { "value": "btn btn--clear uppercase", "label": "Transparent round"},
          { "value": "btn btn--clear btn--square uppercase", "label": "Transparent square"},
          { "value": "btn btn--outline btn--square uppercase", "label": "Outlined square"}
        ]
      },
      {
        "type": "select",
        "id": "overlay",
        "label": "Image overlay opacity",
        "info": "Used to darken image for legible text.",
        "default": "image-overlay-15",
        "options": [
          { "value": "image-overlay-0", "label": "0%"},
          { "value": "image-overlay-5", "label": "5%"},
          { "value": "image-overlay-10", "label": "10%"},
          { "value": "image-overlay-15", "label": "15%"},
          { "value": "image-overlay-20", "label": "20%"},
          { "value": "image-overlay-25", "label": "25%"},
          { "value": "image-overlay-30", "label": "30%"},
          { "value": "image-overlay-35", "label": "35%"},
          { "value": "image-overlay-40", "label": "40%"},
          { "value": "image-overlay-45", "label": "45%"},
          { "value": "image-overlay-50", "label": "50%"},
          { "value": "image-overlay-55", "label": "55%"},
          { "value": "image-overlay-60", "label": "60%"},
          { "value": "image-overlay-65", "label": "65%"},
          { "value": "image-overlay-70", "label": "70%"},
          { "value": "image-overlay-75", "label": "75%"},
          { "value": "image-overlay-80", "label": "80%"},
          { "value": "image-overlay-85", "label": "85%"},
          { "value": "image-overlay-90", "label": "90%"},
          { "value": "image-overlay-95", "label": "95%"},
          { "value": "image-overlay-100", "label": "100%"}
        ]
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Headline",
            "default": "Featured collection"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Buton Text",
            "default": "View products"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "settings": {
          "grid": "2"
        },
        "blocks": [
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          }
        ]
      }
    ]
  }
{% endschema %}
