<div class="grid--full homepage-double equalOverflowHeight {{ section.settings.height }}">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'image' %}
        {%- if block.settings.image -%}
          {%- assign background_image = block.settings.image | img_url: '1800x' -%}
        {%- else -%}
          {%- assign background_image = 'blank.svg' | asset_url -%}
        {%- endif -%}
        <div class="grid__item large--one-half medium--one-half double__block homepage-image {{ block.settings.color }} preventOverflow" {{ block.shopify_attributes }}>
          {% if block.settings.link_text == '' and block.settings.link and block.settings.button_image == nil %}
            <a href="{{ block.settings.link }}">
          {% endif %}
          <div class="content--centered">
            <div class="{{ block.settings.text_align }} preventOverflowContent">
              {% if block.settings.button_image %}
                <a href="{{ block.settings.link }}">
                  <img src="{{ block.settings.button_image | img_url: '1000x' }}" alt="{{ block.settings.button_image.alt | default: block.settings.link_text }}" class="image--flex" />
                </a>
              {% else %}
                {% unless block.settings.title == '' %}<h1 class="home__subtitle">{{ block.settings.title | escape }}</h1>{% endunless %}
                {% unless block.settings.description == '' %}<p class="content--flex h5--body">{{ block.settings.description }}</p>{% endunless %}
                {% unless block.settings.link_text == '' %}<a class="{{ block.settings.button_style }}" href="{{ block.settings.link }}">{{ block.settings.link_text | escape }}</a>{% endunless %}
              {% endif %}
            </div>
          </div>
          <div class="image-overlay {{ block.settings.overlay }}"></div>
          <div class="background-size-cover" style="background-image: url('{{ background_image }}');"></div>
          {% if block.settings.link_text == '' and block.settings.link and block.settings.button_image == nil %}
            </a>
          {% endif %}
        </div>
      {% when 'text' %}
        <div class="grid__item large--one-half medium--one-half double__block {{ block.settings.homepage_bg_color }} preventOverflow" {{ block.shopify_attributes }}>
          <div class="content--centered">
            <div class="{{ block.settings.text_align }} preventOverflowContent">
              {% if block.settings.title != '' %}
                <h4 class="home__subtitle">{{ block.settings.title | escape }}</h4>
              {% endif %}
              {% if block.settings.richtext != blank %}
                <div class="rte rte--homepage">
                  {{ block.settings.richtext }}
                </div>
              {% endif %}
              {% if block.settings.link_text != '' %}
                <a class="{{ block.settings.button_style }}" href="{{ block.settings.link }}">
                  {{ block.settings.link_text | escape }}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% when 'newsletter' %}
        <div class="grid__item large--one-half medium--one-half double__block {{ block.settings.homepage_bg_color }} preventOverflow" {{ block.shopify_attributes }}>
          <div class="content--centered">
            <div class="{{ block.settings.text_align }} preventOverflowContent">
              {% if block.settings.title != '' %}
                <h4 class="home__subtitle">{{ block.settings.title | escape }}</h4>
              {% endif %}
              {% if block.settings.richtext != blank %}
                <div class="rte rte--homepage">
                  {{ block.settings.richtext }}
                </div>
              {% endif %}
              {% include 'newsletter-form' %}
            </div>
          </div>
        </div>
      {% else %}
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Image and text",
  "max_blocks": 2,
  "settings": [
    {
      "type": "select",
      "id": "height",
      "label": "Section height",
      "default": "use_screen_one_third",
      "options": [
        { "value": "use_screen_full", "label": "Full screen height"},
        { "value": "use_screen_two_thirds", "label": "Tall"},
        { "value": "use_screen_one_half", "label": "Medium"},
        { "value": "use_screen_one_third", "label": "Short"},
        { "value": "use_screen_one_fifth", "label": "Tiny"}
      ]
    }
  ],
  "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background image"
        },
        {
          "type": "select",
          "id": "overlay",
          "label": "Image overlay opacity",
          "info": "Used to darken image for legible text.",
          "default": "image-overlay-15",
          "options": [
            { "value": "image-overlay-0", "label": "0%"},
            { "value": "image-overlay-5", "label": "5%"},
            { "value": "image-overlay-10", "label": "10%"},
            { "value": "image-overlay-15", "label": "15%"},
            { "value": "image-overlay-20", "label": "20%"},
            { "value": "image-overlay-25", "label": "25%"},
            { "value": "image-overlay-30", "label": "30%"},
            { "value": "image-overlay-35", "label": "35%"},
            { "value": "image-overlay-40", "label": "40%"},
            { "value": "image-overlay-45", "label": "45%"},
            { "value": "image-overlay-50", "label": "50%"},
            { "value": "image-overlay-55", "label": "55%"},
            { "value": "image-overlay-60", "label": "60%"},
            { "value": "image-overlay-65", "label": "65%"},
            { "value": "image-overlay-70", "label": "70%"},
            { "value": "image-overlay-75", "label": "75%"},
            { "value": "image-overlay-80", "label": "80%"},
            { "value": "image-overlay-85", "label": "85%"},
            { "value": "image-overlay-90", "label": "90%"},
            { "value": "image-overlay-95", "label": "95%"},
            { "value": "image-overlay-100", "label": "100%"}
          ]
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Headline"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Alignment",
          "default": "text-center",
          "options": [
            { "value": "text-left", "label": "Align Left"},
            { "value": "text-center", "label": "Align Center"},
            { "value": "text-right", "label": "Align Right"}
          ]
        },
        {
          "type": "select",
          "id": "color",
          "label": "Text color",
          "default": "homepage--white",
          "options": [
            { "value": "homepage--white", "label": "White"},
            { "value": "homepage--light", "label": "Light"},
            { "value": "homepage--splash", "label": "Accent"},
            { "value": "homepage--dark", "label": "Dark"}
          ]
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default": "btn btn--clear btn--square uppercase",
          "options": [
            { "value": "btn btn--splash uppercase", "label": "Round"},
            { "value": "btn btn--splash btn--square uppercase", "label": "Square"},
            { "value": "btn btn--clear uppercase", "label": "Transparent round"},
            { "value": "btn btn--clear btn--square uppercase", "label": "Transparent square"},
            { "value": "btn btn--outline btn--square uppercase", "label": "Outlined square"}
          ]
        },
        {
          "type": "header",
          "content": "Button image (optional)"
        },
        {
          "type": "image_picker",
          "id": "button_image",
          "label": "Button image",
          "info": "1000 x 1000px .png max"
        }
      ]
    },
    {
      "type": "text",
      "name": "Rich text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Image and text"
        },
        {
          "id": "richtext",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Alignment",
          "default": "text-center",
          "options": [
            { "value": "text-left", "label": "Align Left"},
            { "value": "text-center", "label": "Align Center"},
            { "value": "text-right", "label": "Align Right"}
          ]
        },
        {
          "type": "select",
          "id": "homepage_bg_color",
          "label": "Background color",
          "default": "homepage--light",
          "options": [
            { "value": "homepage--white", "label": "White"},
            { "value": "homepage--light", "label": "Light"},
            { "value": "homepage--splash", "label": "Accent"},
            { "value": "homepage--dark", "label": "Dark"}
          ]
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default": "btn btn--clear btn--square uppercase",
          "options": [
            { "value": "btn btn--splash uppercase", "label": "Round"},
            { "value": "btn btn--splash btn--square uppercase", "label": "Square"},
            { "value": "btn btn--clear uppercase", "label": "Transparent round"},
            { "value": "btn btn--clear btn--square uppercase", "label": "Transparent square"},
            { "value": "btn btn--outline btn--square uppercase", "label": "Outlined square"}
          ]
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Newsletter"
        },
        {
          "id": "richtext",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Alignment",
          "default": "text-center",
          "options": [
            { "value": "text-left", "label": "Align Left"},
            { "value": "text-center", "label": "Align Center"},
            { "value": "text-right", "label": "Align Right"}
          ]
        },
        {
          "type": "select",
          "id": "homepage_bg_color",
          "label": "Background color",
          "default": "homepage--light",
          "options": [
            { "value": "homepage--white", "label": "White"},
            { "value": "homepage--light", "label": "Light"},
            { "value": "homepage--splash", "label": "Accent"},
            { "value": "homepage--dark", "label": "Dark"}
          ]
        },
        {
          "type": "paragraph",
          "content": "Subscribers are under 'Accepts Marketing' in your [customer admin](/admin/customers).  Sync to Mailchimp with the official [Mailchimp app](https://apps.shopify.com/mailchimp)."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image and text",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
