{% assign product = all_products[section.settings.home_product] %}
{% assign product_home = true %}

{% if product.empty? %}
  <div class="homepage-product product-section {{ section.settings.homepage_product_color }}" data-section-id="{{ section.id }}" data-section-type="product-onboarding">
    {% unless section.settings.title == '' %}
      <h4 class="home__subtitle">{{ section.settings.title | escape }}</h4>
    {% endunless %}
      {% include 'onboarding-product' %}
  </div>
{% else %}
  <div class="homepage-product product-section {{ section.settings.homepage_product_color }}" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-image-zoom-enable="{{ section.settings.zoom_enable }}">
    {% unless section.settings.title == '' %}
      <h4 class="home__subtitle">{{ section.settings.title | escape }}</h4>
    {% endunless %}
    {% include 'product' %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Featured product",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured product"
    },
    {
      "type": "product",
      "id": "home_product",
      "label": "Product"
    },
    {
      "type": "select",
      "id": "homepage_product_color",
      "label": "Background color",
      "options": [
        { "value": "homepage--white", "label": "White"},
        { "value": "homepage--light", "label": "Light"},
        { "value": "homepage--splash", "label": "Accent"},
        { "value": "homepage--dark", "label": "Dark"}
      ]
    },
    {
      "type": "checkbox",
      "id": "show_quantity",
      "label": "Show quantity selection",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "zoom_enable",
      "label": "Enable image zoom"
    }
  ],
  "presets": [
    {
      "name": "Featured product",
      "category": "Product"
    }
  ]
}
{% endschema %}
